.badge
  border-radius: 2px;
  font-weight: 400;
  background-color: $grey-darkest;


  &.badge-primary
    background-color: $blue;
  &.badge-danger
    background-color: $red;
  &.badge-warning
    background-color: $orange;
  &.badge-info
    background-color: $blue-sky;
  &.badge-success
    background-color: $green;