<div class="container-fluid app-content-a">
    <div class="container">
        <div class="row app-highlight">
            <div class="col-md-4 col-sm-6">
                <div class="item">
                    <span class="fa-stack icon">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-diamond fa-stack-1x"></i>
                    </span>
                    <h3 class="title">Increase <span class="highlight">Productivity</span></h3>
                    <p class="description">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                <span class="fa-stack icon">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-gears fa-stack-1x"></i>
                </span>
                <h3 class="title">Lot of <span class="highlight">Components</span></h3>
                <p class="description">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="item">
                <span class="fa-stack icon">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-usd fa-stack-1x"></i>
                </span>
                <h3 class="title"><span class="highlight">Free</span> Forever</h3>
                <p class="description">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
            </div>
        </div>
    </div>
</div>