ul.tags {
  list-style: none;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;

  & > li {
    float: left;

    & > a {
      color: #666;
      display: block;
      border-radius: 2px;
      border: 1px solid #CCC;
      padding: 4px 8px;
      margin: 5px;
      font-size: 12px;
    }

    & > a:hover {
      color: #FFF;
      border: 1px solid #29c75f;
      background-color: #29c75f;
    }
  }
}

ul.tags::after {
  position: relative;
  clear: both;
  display: block;
  content: '';
}