footer.app-footer
  padding-left: 30px
  padding-right: 30px
  .footer-copyright
    margin-bottom: 30px
    color: $grey-darkest
    font-size: 0.9em

@include breakpoint($sm)
  footer.app-footer
    padding-left: 15px
    padding-right: 15px
    .footer-copyright
      margin-bottom: 15px