div.section
  margin-bottom: 30px;
  .section-title
    font-size: 1.1em;
    font-weight: 200;
    margin-bottom: 15px;

    i 
      margin-right: 5px;
  .section-body
  
.page-heading
  padding: 15px;
  padding-left: 30px;
  margin-bottom: 30px;
  .title
    font-size: 1.3em;
