<aside class="app-sidebar --inverse">
  <div class="sidebar-header">
  </div>
  <ul class="sidebar-menu">
    <li ng-class="{active: main.page.menu == 'dashboard'}">
      <a ui-sref="main.dashboard">
        <div class="icon">
          <i class="fa fa-tasks" aria-hidden="true"></i>
        </div>
        <div class="title">Dashboard</div>
      </a>
    </li>
    <li ng-class="{active: main.page.menu == 'messaging'}">
      <a ui-sref="main.messaging">
        <div class="icon">
          <i class="fa fa-comments" aria-hidden="true"></i>
        </div>
        <div class="title">Messaging</div>
      </a>
    </li>
    <li class="dropdown" ng-class="{active: main.page.menu == 'uikits'}" uib-dropdown dropdown-append-to-body>
      <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
        <div class="icon">
          <i class="fa fa-cube" aria-hidden="true"></i>
        </div>
        <div class="title">UI Kits</div>
      </a>
      <ul class="dropdown-menu --sidebar" uib-dropdown-menu>
        <li><a ui-sref="main.uikits.customize">Customize</a></li>
        <li><a ui-sref="main.uikits.components">Components</a></li>
        <li><a ui-sref="main.uikits.card">Card</a></li>
        <li><a href="/html/uikits/form.html">Form</a></li>
        <li><a href="/html/uikits/table.html">Table</a></li>
        <li><a href="/html/uikits/pricing-table.html">Pricing Table</a></li>
        <li><a href="/html/uikits/timeline.html">Timeline</a></li>
        <li><a href="/html/uikits/chart.html">Chart</a></li>
        <li><a href="/html/uikits/icons.html">Icons</a></li>
      </ul>
    </li>
    <li class="dropdown" data-placement="body">
      <a href="#" class="dropdown-toggle sidebar-dropdown" data-toggle="dropdown" role="button" aria-expanded="false">
        <div class="icon">
          <i class="fa fa-file-o" aria-hidden="true"></i>
        </div>
        <div class="title">Pages</div>
      </a>
      <ul class="dropdown-menu --sidebar">
        <li><a href="/html/pages/inbox.html">Inbox</a></li>
        <li><a href="/html/pages/landing.html">Landing</a></li>
        <li><a href="/html/pages/login.html">Login</a></li>
        <li><a href="/html/pages/register.html">Register</a></li>
        <li><a href="/html/pages/search.html">Search</a></li>
        <li><a href="/html/pages/404.html">404</a></li>
      </ul>
    </li>
  </ul>
</aside>
